<div class="card-examples-container">
  <ngx-msg-card
    title="Main Card"
    [enableTitleEllipsis]="true"
    [enableSubtitleEllipsis]="true"
    subtitle="Some very long subtitles are shown but ellipsis blocks this"
    [containerType]="CardContainerType.OUTLINED"
    [hasActionArea]="true"
    [hasContentArea]="true"
    labelText="Draft"
  >
    <div content-area>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </div>
    <div action-area>
      <ngx-msg-button
        [type]="ButtonType.TEXT"
        label="Button label"
      ></ngx-msg-button>
      <ngx-msg-button
        [type]="ButtonType.TEXT"
        label="Button label"
      ></ngx-msg-button>
    </div>
  </ngx-msg-card>
  <ngx-msg-card
    title="Second Card"
    [enableTitleEllipsis]="true"
    [enableSubtitleEllipsis]="true"
    subtitle="Some very long subtitles are shown but ellipsis blocks this"
    [containerType]="CardContainerType.FILLED"
    [hasActionArea]="true"
    [hasContentArea]="true"
    labelText="Draft"
  >
    <div content-area>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </div>
    <div action-area>
      <ngx-msg-button
        [type]="ButtonType.TEXT"
        label="Button label"
      ></ngx-msg-button>
      <ngx-msg-button
        [type]="ButtonType.TEXT"
        label="Button label"
      ></ngx-msg-button>
    </div>
  </ngx-msg-card>
  <ngx-msg-card
    title="Third Card"
    [enableTitleEllipsis]="true"
    [enableSubtitleEllipsis]="true"
    subtitle="Some very long subtitles are shown but ellipsis blocks this"
    [containerType]="CardContainerType.ELEVATED"
    [hasActionArea]="true"
    [hasContentArea]="true"
    labelText="Draft"
  >
    <div content-area>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </div>
    <div action-area>
      <ngx-msg-button
        [type]="ButtonType.PRIMARY"
        label="Button label"
      ></ngx-msg-button>
      <ngx-msg-button
        [type]="ButtonType.TEXT"
        label="Button label"
      ></ngx-msg-button>
    </div>
  </ngx-msg-card>
</div>
